a{
    text-decoration:none;
    color:#dee9fa;
}
    a:link{
        text-decoration: none;
    }

span{
    font-size:1em;
}
    /*span:focus{color: #b5cadc;}*/
    /*span:hover{color: #b5cadc;  }*/
#rating{
    font-size:.6em;
}

.btn-primary{
    background-color: #ff8638;
    border: none;
}
    .btn-primary:link{
        background-color: #ffb686;
    }
    .btn-primary:hover{
        background-color: #ffb686;
    }
    .btn-primary:active{
        background-color: #ffb686;
    }
    .btn-primary:active:hover{
        background-color: #ffb686;
    }
    .btn-primary.disabled:hover{
        background-color: #ffb686;
    }


.btn-success{
    background-color: #24a38a;
    border: none;
    color: #ececec;
    padding-bottom: 15px;
}
    .btn-success:link{
        background-color: #57d1b9;
    }
    .btn-success:hover{
        background-color: #57d1b9;
    }
    .btn-success:active{
        background-color: #57d1b9;
    }
    .btn-success:active:hover{
        background-color: #57d1b9;
    }
    .btn-success:visited{
        background-color: #57d1b9;
    }
.btn-info{
    background-color: #ffb638;
    border: none;
}
    .btn-info:hover{
        background-color: #ffd386;
    }
    .btn-info:active{
        background-color: #ffd386;
    }
    .btn-info:active:hover{
        background-color: #ffd386;
    }
    .btn-info:visited{
        background-color: #ffd386;
    }

