a{
    text-decoration:none;
}
a:link{
    text-decoration: none;
}
a:visited{

}
a:hover{

}
span{
    font-size:1em;
}
#rating{
    font-size:.6em;
}

.btn-primary{
    background-color: #FF8738;
    border: none;
}
    .btn-primary:link{
        background-color: #ffa56a;
    }
    .btn-primary:visited{
        background-color: #ffa56a;
    }
    .btn-primary:hover{
        background-color: #ffa56a;
    }
    .btn-primary:active{
        background-color: #ffa56a;
    }

.btn-success{

}