<section class="categories">
    <div class="container-fluid" id="locationCategories" ng-controller="PlacesController">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>TaDoo!</h1>
                <ul class="list-unstyled">
                    <li class="btn btn-primary btn-lg btn-block">Category 1</li>
                    <li class="btn btn-primary btn-lg btn-block">Category 2</li>
                    <li class="btn btn-primary btn-lg btn-block">Category 3</li>
                    <li class="btn btn-primary btn-lg btn-block">Category 4</li>
                </ul>
            </div>
        </div>
    </div>
</section>