<section id="categories">
    <div class="container-fluid" id="locationCategories">
        <div class="row">
            <div class="col-xs-12">
                <p class="col-xs-9"><span class="col-xs-3 col-xs-offset-2 text-muted h4">what </span><span class="col-xs-4 h1">TaDoo?</span></p>
                <a class="col-xs-1 col-xs-offset-1 h3" href="#/categories/" aria-label="Search by Zip Code.">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-xs-12 text-center">
                <ul class="list-unstyled">
                    <div class="btn btn-lg btn-block">
                        <a  class="btn btn-primary btn-lg btn-block" role="button" ng-href="#/list/0"><li><span class="h2">Food</span></li></a>
                    </div>
                    <div class="btn btn-lg btn-block">
                        <a  class="btn btn-primary btn-lg btn-block" role="button" ng-href="#/list/1"><li><span class="h2">Adventure</span></li></a>
                    </div>
                    <div class="btn btn-lg btn-block">
                        <a  class="btn btn-primary btn-lg btn-block" role="button" ng-href="#/list/2"><li><span class="h2">Shopping</span></li></a>
                    </div>
                    <div class="btn btn-lg btn-block">
                        <a  class="btn btn-primary btn-lg btn-block" role="button" ng-href="#/list/3"><li><span class="h2">Kids</span></li></a>
                    </div>
                    <div class="btn btn-lg btn-block">
                        <a  class="btn btn-primary btn-lg btn-block" role="button" ng-href="#/list/4"><li><span class="h2">Chill Modes</span></li></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>