<section id="categories">
    <div class="container-fluid" id="locationCategories">
        <div class="row">
            <div class="col-xs-12">
                <p class="col-xs-9"><span class="col-xs-3 col-xs-offset-2 text-muted h4">what </span><span class="col-xs-4 h1">TaDoo?</span></p>
                <a class="col-xs-1 col-xs-offset-1 h3" href="#/categories/" aria-label="Search by Zip Code.">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-xs-12 text-center">
                <ul class="list-unstyled">
                    <div>
                        <li class="btn btn-primary btn-lg btn-block" ng-click="goList('/list/0')"><span class="h2">Food</span></li>
                    </div>
                    <div>
                        <li class="btn btn-primary btn-lg btn-block" ng-click="goList('/list/1')"><span class="h2">Adventure</span></li>
                    </div>
                    <div>
                        <li class="btn btn-primary btn-lg btn-block" ng-click="goList('/list/2')"><span class="h2">Shopping</span></li>
                    </div>
                    <div>
                        <li class="btn btn-primary btn-lg btn-block" ng-click="goList('/list/3')"><span class="h2">Kids</span></li>
                    </div>
                    <div>
                        <li class="btn btn-primary btn-lg btn-block" ng-click="goList('/list/4')"><span class="h2">Chill Spots</span></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>