<section class="locationInfo">
    <div class="container-fluid cf" id="locationInfo" ng-controller="InfoController">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <a href="#/map/"><img ng-src="" alt="Store Front" class="img-responsive center-block img-circle">
            </div>
            <div class="col-xs-12 text-center">
                <h3>{{ placeInfo.name }}</h3>
                <h4>{{ placeInfo.address }}</h4>
                <!--Description-->
                <p>{{ placeDescription }}</p>
                <section>
                    <h4>Reviews</h4>
                    <dl>
                        <dd>Review</dd>
                        <dt>Review Content...</dt>
                    </dl>
                </section>
            </div>
        </div>
    </div>
</section>