<!--TODO:: Fix phone number to work in link (take spaces out)-->
<section id="info">
    <div class="container-fluid">
        <div class="row">
            <!--:: use static street view for image-->
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img ng-src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location={{details.formatted_address}}&key=AIzaSyDWZrRehIVMZXDSp2YLcyv5J2z-4hb7tGc"
                                 alt="Google street view of location" class="img-responsive img-rounded center-block">
                        </div>
                        <div class="col-xs-2">
                            <img ng-src="{{placeInfo.photo}}" alt="Category Icon" class="img-responsive center-block vcenter">
                        </div>
                    </div>
                </div>
            </header>
            <!--TODO: fix layout with bootstrap-->
            <section id="content">
                <div class="col-xs-12 text-center">
                    <h2>{{ placeInfo.name }}</h2>
                    <a role="button" class="btn btn-default btn-success" target="_blank" href="tel:{{phone}}">Call</a>
                    <a role="button" class="btn btn-default btn-success" target="_blank" href="{{details.website}}">Website</a>
                    <a role="button" class="btn btn-default btn-success" target="_blank" href="{{details.url}}">Navigate</a>
                    <h4>{{ phone }}</h4>
                    <section>
                        <h4>User Rating:&nbsp;&nbsp;{{placeInfo.googleRating}}</h4>
                        <h4>Reviews:</h4>

                        <div class="container-fluid">
                            <!--TODO : figure out how to make layout uniform-->
                            <section ng-repeat="review in details.reviews">
                                <div class="clear-fix"></div>
                                <section class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="container-fluid">
                                        <h4 class="col-xs-12 center-block">
                                            <span class="text-center">{{review.author_name}}</span>
                                            <span class="pull-right h5">{{review.rating}}/5</span>
                                        </h4>
                                        <p class="col-xs-12 center-block text-left">{{review.text}}</p>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </section>
                </div>
            </section>


            <footer id="footer" class="text-center fixFooter">
                <div class="container-fluid">
                    <div class="col-xs-2 col-xs-offset-4">
                        <a href="#/categories/" class="center-block">
                            <span class="h2">
                                <span class="glyphicon glyphicon-home" aria-label="Go to Tadoo Homepage" aria-hidden="true"></span>
                            </span>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <span class="h2">
                            <span class="glyphicon glyphicon-circle-arrow-left" ng-click="goBack()" aria-label="Go back to places list." aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</section>