<section class="locationList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center" id="locationList">
                <h2><span class="text-muted">what </span><span class="h1">TaDoo?</span></h2>
                <ul class="list-unstyled">
                    <li class="btn btn-success btn-lg btn-block">Location 1</li>
                    <li class="btn btn-success btn-lg btn-block">Location 2</li>
                    <li class="btn btn-success btn-lg btn-block">Location 3</li>
                    <li class="btn btn-success btn-lg btn-block">Location 4</li>
                </ul>
            </div>
        </div>
    </div>
</section>